@import 'included-file';
@import 'scss'; // test index file
@import 'scss/deep'; // deep index file

.foo {
  bar: 2+2;
  $baz: green;
  color: $baz;
  test: test('Hello,');
  blah: resolve-url('test');
  foo: foo('25');
}
